<!DOCTYPE html>
<html>
  <head>
    <title>Koło Naukowe Matematyków Teoretyków</title>
    <link rel="icon" href="/knmt-website/assets/img/logo/logo.png" type="image/icon type">

    <link rel="stylesheet" href="/knmt-website/stylesheets/basic-style.css">

    {% block moreCSS %}
    {% endblock %}

    <meta name="keywords" content="koło, naukowe, kolo, matematyka, matematyków, matematykow, worclaw, wrocław, teoretycznych, teoretyczna">
    <meta name="description" content="Strona internetowa Koła Naukowego Matematyków Teoretyków na Uniwersytecie Wrocławskim">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="main_header">

      <div class="left_header">
        <img src="/knmt-website/assets/img/uwr-logo.svg" height="80px;" onclick="window.open('https://www.math.uni.wroc.pl/', '_blank')">
        <div>
          <h1>Koło Naukowe Matematyków Teoretyków</h1>
          <h3>Uniwersytetu Wrocławskiego</h3>
        </div>
      </div>

      <div class="right_header">
        <div class="menu_icon_holder">
          <div><img src="/knmt-website/assets/img/logo/logo_knmt.svg" onclick="window.open('https://www.facebook.com/knmtuwr', '_blank')"></div>
          <div><img src="/knmt-website/assets/img/facebook.svg" onclick="window.open('https://www.facebook.com/knmtuwr', '_blank')"></div>
          <div><img src="/knmt-website/assets/img/calendar.svg"></div>
        </div>
        <input class="search_bar" type="text" id="search" name="search" value placeholder="Szukaj">
      </div>

    </div>
    <div class="button_menu">
      <button onclick="location.href='/knmt-website/'">Aktualności</button>
      <button onclick="location.href='/knmt-website/info.html'">Informacje</button>
      <button onclick="location.href='/knmt-website/join.html'">Dołącz</button>
      <button onclick="location.href='/knmt-website/wss.html'">Wrocławskie Spotkanie Szkockie</button>
    </div>

    <div class="main_container">

      {% block mainText %}
      {% endblock %}
    
    </div>

    <footer>
      <div class="foot_search">
        <h3>Wyszukaj</h3>
        <input class="search_bar" type="text" id="search" name="search" value placeholder="Szukaj">
      </div>
      <div class="foot_contact">
        <h3>Dane kontaktowe</h3>
        pl. Grunwaldzki 2<br>
        50-384 Wrocław<br>
        POLSKA<br>
        <a href="mailto:knmt.wmii.uwr@gmail.com">knmt.wmii.uwr@gmail.com</a>
      </div>
    </footer>
  </body>
</html>
