{% extends "base.html" %}

{% block moreCSS %}
<link rel="stylesheet" href="/stylesheets/calendar.css">

<style>
table {
  margin-top: 20px;
  <!-- margin-left: auto; -->
  <!-- margin-right: auto; -->

  border-spacing: 0px;
  border-collapse: collapse;
}


td, th {
  padding: 0;
  margin: 0;
  border-bottom: 1px dotted black;

  padding-top: 10px;
}

th {
  text-align: left;
}

td {
  padding-left: 10px;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}
<div class="flex_wrap">

  <div class="conf_lst">
    Zachęcamy członków koła do aktywnego udziału w konferencjach, których część listujemy poniżej.

    <table>
      <colgroup>
        <col span="1" style="width: 500px;">
        <col span="1" style="width: 200px;">
      </colgroup>
      {% for c in conf_list %}
        <tr>
          <td> <a href="{{ c.url }}" target="_blank"> {{ c.name }} </a> </td>
          <td> <b>{{ c.date }}</b> </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="side_bar">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FWarsaw&showPrint=0&src=a25tdC53bWlpLnV3ckBnbWFpbC5jb20&src=ZW4ucG9saXNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no"></iframe>
  </div>

</div>

{% endblock %}
