{% extends "base.html" %}

{% block moreCSS %}
<link rel="stylesheet" href="stylesheets/news.css">
{% endblock %}

{% block mainText %}

<div class="news_container">

<div class="post_board">

{% for p in posts %}
<div class="post_box">
  <img src="{{ p.preview_image }}" class="post_img" onclick="location.href='{{ p.path }}'" />
  <div class="post_info">
    <div class="post_title" onclick="location.href='{{ p.path }}'">{{ p.title }}</div>
    <div class="post_date_author">{{ p.date }} {{ p.author }}</div>
    <p class="description">{{ p.description }}</p>
  </div>
</div>
{% endfor %}

</div>

<div class="side_bar">
</div>

</div>

{% endblock %}
