{% extends "base.html" %}

{% block moreCSS %}
{% endblock %}

{% block mainText %}

<div class="row_100">


  <div>
    <h2>Zarząd koła</h2>

    <table>
      <tr>
        <th>Przewodniczący:</th>
        <td>{{ p.prezes }}</td>
      </tr>
      <tr>
        <th>Wice-przewodniczący:</th>
        <td>{{ p.wice }}</td>
      </tr>
      <tr>
        <th>Sekretarz:</th>
        <td>{{ p.sekretarz }}</td>
      </tr>
      <tr>
        <th>Skarbnik:</th>
        <td>{{ p.skarbnik }}</td>
      </tr>
    </table>
  </div>

  <div style="margin-left: 60px;">
    <h2>Kontakt</h2>
            
    pl. Grunwaldzki 2<br>
    50-384 Wrocław<br>
    POLSKA<br>
    <a href="mailto:knmt.wmii.uwr@gmail.com">knmt.wmii.uwr@gmail.com</a>
  </div>
</div>

{% endblock %}
