{% extends "base.html" %}

{% block moreCSS %}
<link rel="stylesheet" type="text/css" href="stylesheets/photos.css">
{% endblock %}

{% block mainText %}

  <div class="flexrow_100 album_container">
  {% for ph in photo_lst %}
  <div class="flexcolumn album">
    <img width="300" style="cursor: pointer; width: 300px; height: 200px; object-fit: cover;" src="{{ ph.preview }}" alt="{{ ph.alt }}" onclick="location.href='{{ ph.album_path }}'">
    <a href="{{ ph.album_path }}">{{ ph.album_title }}</a>
  </div>
  {% endfor %}
  </div>

{% endblock %}
