{% extends "base.html" %}

{% block moreCSS %}
<style>
li {
  padding: 5px;
}
</style>
{% endblock %}

{% block mainText %}

Dołączyć do Koła można na wiele sposobów: 
<ul>
  <li>kontaktując się bezpośrednio z <a href="/info/">członkiem zarządu</a>,</li> 
  <li>pisząc <a href="mailto:knmt@math.uni.wroc.pl">maila</a> lub</li>
  <li>wypełniając poniższy formularz</li>
</ul>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWaXHBE3wfoJp3BlNLp8twsn9aYrfeuZHdkLilc0oSiIl6EA/viewform?embedded=true" width="640" height="1300" frameborder="0" marginheight="0" marginwidth="0" style="display: block; margin: auto;">Ładuję…</iframe>

{% endblock %}
