@import 'colors_fonts';

html {
  margin: 0px;

  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0px;
  min-height: 100vh;
  
  background-color: $bg;
}

h1 {
  font-size: 24px;
  font-family: Nunito;
  font-weight: 800;

  color: $fg;
  
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

h3 {
  font-size: 16px;
  font-family: Nunito;
  font-weight: 500;

  color: $subtitle;

  padding: 0px;
  margin: 0px;
  margin-top: 5px;

  padding-bottom: 30px;
}

a {
  text-decoration: none;
  font-weight: 800;
  font-family: Nunito;
  color: $subtitle;
}


@import 'header_style';
@import 'button_menu';
@import 'footer_style';

.main_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 200px;
}

