@import 'colors_fonts';

html {
  margin: 0px;

  width: 100%;
  min-height: 100vh;
  
  font-family: Nunito;
}

body {
  position: relative;
  margin: 0px;
  min-height: 100vh;
  
  background-color: $bg;
}

h1 {
  font-size: 24px;
  font-weight: 800;

  color: $fg;
  
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

h2 {
  color: $subtitle;

  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 500;

  color: $subtitle;

  padding: 0px;
  margin: 0px;
  margin-top: 5px;

  padding-bottom: 30px;
}

h4 {
  margin: 0;
  padding: 0;

  color: $blue;

  font-size: 15px;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: $subtitle;
}


@import 'header_style';
@import 'button_menu';
@import 'footer_style';

.main_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 200px;

  font-size: 16px;
  color: $fg;
}

.flexrow_100 {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 20px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.cursor_pointer {
  cursor: pointer;
}
