@import 'colors_fonts';

.post_box {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 20px;

  min-height: 200px;
}

.post_info {
  display: flex;
  flex-direction: column;
}

.post_date_author {
  width: 30%;
  
  font-family: Nunito;
  font-size: 14px;

  color: $blue;
}

.post_title {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 800;

  color: $subtitle;
}

.post_title:hover {
  color: $purple;
  cursor: pointer;
}

.description {
  font-family: Nunito;
  font-size: 16px;
  color: $fg;
}

.post_board {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  // background-color: red;

}

.post_img {
  width: 250px;
  height: 200px;

  object-fit: cover;

  cursor: pointer;
}

.news_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side_bar {
  height: 100px;
  // background-color: green;

  width: 35%;
  margin-left: 5%;
}
