@import 'colors_fonts.css';

@import 'header_style.css';
@import 'button_menu.css';
@import 'footer_style.css';


html {
  margin: 0px;

  width: 100%;
  min-height: 100vh;
  
  font-family: Nunito;


  background-color: var(--subtitle);
  //
  // background-image: linear-gradient(green, white);
  // background-size: 100% 50%;
  // background-repeat: no-repeat;
}

body {
  position: relative;
  margin: 0px;
  min-height: 100vh;
  
  background-color: var(--bg);
}

h1 {
  font-size: 24px;
  font-weight: 800;

  color: var(--fg);
  
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

h2 {
  color: var(--subtitle);

  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 500;

  color: var(--subtitle);

  padding: 0px;
  margin: 0px;
  margin-top: 5px;

  padding-bottom: 30px;
}

h4 {
  margin: 0;
  padding: 0;

  color: var(--blue);

  font-size: 15px;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: var(--subtitle);

  cursor: pointer;
}

.wss_button {
  border: none;
  cursor: pointer;

  padding: 20px 40px;

  background-color: var(--subtitle);
  color: var(--bg);

  font-weight: 700;
  font-size: 20px;
}

.wss_button:hover {
  background-color: var(--blue);
  color: var(--fg);
}

.main_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 200px;

  font-size: 16px;
  color: var(--fg);
}

.flexrow_100 {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 20px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.cursor_pointer {
  cursor: pointer;
}
