@use "sass:meta";
@use 'colors_fonts';

html {
  margin: 0px;

  width: 100%;
  min-height: 100vh;
  
  font-family: Nunito;


  background-color: colors_fonts.$subtitle;
  //
  // background-image: linear-gradient(green, white);
  // background-size: 100% 50%;
  // background-repeat: no-repeat;
}

body {
  position: relative;
  margin: 0px;
  min-height: 100vh;
  
  background-color: colors_fonts.$bg;
}

h1 {
  font-size: 24px;
  font-weight: 800;

  color: colors_fonts.$fg;
  
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

h2 {
  color: colors_fonts.$subtitle;

  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 500;

  color: colors_fonts.$subtitle;

  padding: 0px;
  margin: 0px;
  margin-top: 5px;

  padding-bottom: 30px;
}

h4 {
  margin: 0;
  padding: 0;

  color: colors_fonts.$blue;

  font-size: 15px;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: colors_fonts.$subtitle;

  cursor: pointer;
}

.wss_button {
  border: none;
  cursor: pointer;

  padding: 20px 40px;

  background-color: colors_fonts.$subtitle;
  color: colors_fonts.$bg;

  font-weight: 700;
  font-size: 20px;
}

.wss_button:hover {
  background-color: colors_fonts.$blue;
  color: colors_fonts.$fg;
}


@include meta.load-css('header_style');
@include meta.load-css('button_menu');
@include meta.load-css('footer_style');

.main_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 200px;

  font-size: 16px;
  color: colors_fonts.$fg;
}

.flexrow_100 {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 20px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.cursor_pointer {
  cursor: pointer;
}
