@import 'colors_fonts';

footer{
    width:100%;
    height: 165px;

    position: absolute;
    left: 0;
    bottom: 0; 

    background-color: $blue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

footer h3 {
  color: $fg;
  font-weight: 800;

  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.foot_search {
  display: flex;
  flex-direction: column;
}

.info_foot {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 100px;

  justify-content: center;
}

.info_foot img {
  cursor: pointer;
}

.author_foot {
  width: 100%;

  margin-bottom: 0px;
  padding: 0px;

  padding-top: 5px;
  padding-bottom: 2px;

  background-color: $subtitle;
  display: flex;
  flex-direction: row;

  gap: 60px;

  justify-content: center;
}

.www_auth {
  font-family: Nunito;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.www_auth a {
  font-size: 12px;
  color: $blue;
  font-weight: 500;
}

.auth_name {
  color: $bg !important;
  font-weight: 800;
}

.search_bar {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;

  background-color: $bg;

  width: 300px;
  height: 25px;

  border: none;
  border: 1px solid $subtitle;
}

.foot_contact {
  font-family: Nunito;
  font-size: 13px;
  color: $fg;
}

