@import 'colors_fonts.css';

.main_header {
  width: 100%;
  // height: 110px;

  background-color: var(--bg);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

.main_header img {
  cursor: pointer;
}

.left_header {
  width: 90%;

  margin-top: -20px;
  margin-left: 10%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  align-items: center;

  z-index: 0;
}

.left_header img {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--blue);
}

.search_contact {
  width: 90%;

  margin-right: 10%;
  margin-top: 10px;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: center;

  gap: 20px;
}

.search_contact img {
  height: 32px;
  z-index: 1;
}
