<!DOCTYPE html>
<html>
  <head>
    <title>Wrocławskie Spotkania Szkockie</title>
    <link rel="icon" href="/assets/img/logo/logo.png" type="image/icon type">

    <link rel="stylesheet" href="/stylesheets/basic-style.css">

    <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->

    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

    {% block moreCSS %}
    {% endblock %}

    <meta name="keywords" content="koło, naukowe, kolo, matematyka, matematyków, matematykow, worclaw, wrocław, teoretycznych, teoretyczna">
    <meta name="description" content="Wrocławskie Spotkania Szkocie to konferencja matematyczna dedykowana dla studentów matematyki i kierunków pokrewnych">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="main_header">
        <div class="search_contact">
          <a href="/info">dane kontaktowe</a>

          <input class="search_bar" type="text" id="search" name="search" value placeholder="Szukaj" />

          <img src="/assets/img/facebook.svg" onclick="window.open('https://www.facebook.com/knmtuwr', '_blank')" />
          <img src="/assets/img/calendar.svg" onclick="location.href='/calendar'" />
        </div>

      <div class="left_header">
        <img src="/assets/img/uwr-logo.svg" height="80px;" onclick="window.open('https://www.math.uni.wroc.pl/', '_blank')">
        <div>
          <h1>Wrocławskie Spotkania Szkockie</h1>
          <h3>Organizowane przez KNMT IM UWr z pomocą Fundacji Wrocławskich Matematyków</h3>
        </div>
      </div>

      <!-- <img src="/knmt-website/assets/img/logo/logo_knmt.svg" onclick="window.open('https://www.facebook.com/knmtuwr', '_blank')"> -->
      </div>

    </div>
    <div class="button_menu">
      <button onclick="location.href='/wss'">Informacje</button>
      <button onclick="location.href='/wss/registration.html'">Rejestracja</button>
      <button onclick="location.href='/wss/programme.html'">Program konferencji</button>
      <button onclick="location.href='/'"  style="background-color: #86a5b3;">KNMT</button>
    </div>

    <div class="main_container">

      {% block mainText %}
      {% endblock %}
    
    </div>

    <footer>
      <div class="info_foot">
      <img style="height: 108px;" src="/assets/img/logo/logo_knmt.svg" onclick="window.open('https://www.facebook.com/knmtuwr', '_blank')" />

        <div class="foot_contact">
          <h3>Dane kontaktowe</h3>
          pl. Grunwaldzki 2<br>
          50-384 Wrocław<br>
          POLSKA<br>
          <a href="mailto:knmt.wmii.uwr@gmail.com">knmt.wmii.uwr@gmail.com</a>
        </div>

        <div class="foot_search">
          <h3>Wyszukaj</h3>
          <input class="search_bar" type="text" id="search" name="search" value placeholder="Szukaj">
        </div>
      <img style="height: 108px;" src="/assets/img/fundacja_matematykow_logo.png" onclick="window.open('http://fmw.math.uni.wroc.pl/', '_blank')" />

      </div>

      <div class="author_foot">
        <div class="www_auth">
          <a href="https://github.com/ronia-jakim" class="auth_name">Weronika Jakimowicz</a> <br/>
          <a href="mailto:weronikajakimowicz2@gmail.com">weronikajakimowicz2@gmail.com</a>
        </div>
        <div class="www_auth">
          <a href="https://github.com/Sileanth" class="auth_name">Łukasz Magnuszewski</a> <br/>
          <a href="mailto:lukasz.magnuszewski@gmail.com">lukasz.magnuszewski@gmail.com</a>
        </div>
      </div>
    </footer>
  </body>
</html>
