{% extends "wss/base-wss.html" %}

{% block moreCSS %}
<style>
table {
  margin-top: 20px;
  margin-left: 10px;
}


td, th {
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  padding-right: 10px !important;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}

<div>
  <b>Wrocławskie Spotkania Szkockie</b> to ogólnopolska konferencja dla studentów matematyki organizowana przez Koło Naukowe Matematyków Teoretyków Uniwersytetu Wrocławskiego. Pierwsza edycja konferencji jest planowana na <b>28-30 marca 2025 roku</b>. Serdecznie zapraszamy!
  <br>
  <br>

  W ramach konferencji można zgłaszać chęć przeprowadzenia referatu na swoje ulubione zagadnienie matematyczne bez znaczenia na stopień jego zaawansowania. Wszystkie prezentacje są mile widziane c:
  <br>
  <br>

  Opłata konferencyjna wynosi 50zł i pokrywa koszt śniadań, przerw kawowych i dodatkowe gadżety. Cena obiadu wyniesie około 20zł dzięki pomocy dziekana prof. Buraczewskiego. Kanapki planowane na śniadania zostaną zamówione w restauracji Hert. Szczegółowe informacje jak uiścić opłatę pojawią się w niedługiej przyszłości.
</div>

<img width="500" src="/assets/img/wss-poster.png">

{% endblock %}
