{% extends "wss/base-wss.html" %}

{% block moreCSS %}
<style>
table {
  margin-top: 20px;
  margin-left: 10px;
}


td, th {
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  padding-right: 10px !important;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}

<div>
  <b>Wrocławskie Spotkania Szkockie</b> to ogólnopolska konferencja dla studentów matematyki organizowana przez Koło Naukowe Matematyków Teoretyków Uniwersytetu Wrocławskiego. Pierwsza edycja konferencji jest planowana na <b>28-30 marca 2025 roku</b>. Serdecznie zapraszamy!
  <br>
  <br>

  Opłata konferencyjna wynosi 50zł, cenę obiadu szacujemy na około 40zł. Dane do płatności pojawią się wkrótce.
</div>

<img style="width=500px;" src="/assets/img/wss-poster.png">

{% endblock %}
