{% extends "wss/base-wss.html" %}

{% block moreCSS %}
<style>
table {
  margin-top: 20px;
  margin-left: 10px;
}


td, th {
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  padding-right: 10px !important;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}

<table>
  <tr>
    <td colspan="2">Piątek 28.03.2025</td>
  </tr>
  <tr>
    <td>
      15:15-17:00
    </td>
    <td>
      Rozpoczęcie konferencji<br /> Wykład prof. Jacka Świątkowskiego
    </td>
  </tr>

  <tr>
    <td colspan="2">Sobota 29.03.2025</td>
  </tr>
  <tr>
    <td>
      08:30-09:00
    </td>
    <td>
      Śniadanie
    </td>
  </tr>
  <tr>
    <td>
      09:15-10:00
    </td>
    <td>
      Blok referatów
    </td>
  </tr>
  <tr>
    <td>
      10:15-11:00
    </td>
    <td>
      Blok referatów
    </td>
  </tr>
</table>


{% endblock %}
