{% extends "wss/base-wss.html" %}

{% block moreCSS %}
<style>
table {
  margin-top: 20px;
  margin-left: 10px;
}


td, th {
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  padding-right: 10px !important;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}


W nawiasach kwadratowych podana jest sala, w jakiej wydarzenie odbędzie się.

<style>
td {
  vertical-align: top;
  font-size:17;
  height: 35px;
}
</style>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <table style="margin-left: auto; margin-right:auto; align: center; width: 80%; border: none; table-layout: fixed;">
    <colgroup>
      <col style="width: 100px;" />
      <col style="width: calc(100% - 100px);" />
    </colgroup>
    <tr style="height: 45px;"><td style="text-align:center; vertical-align: bottom; font-size: 19;" colspan="2"><b>Piątek 28 Marca</b></td></tr>
    <tr>
      <td>
        15:00-16:30
      </td>
      <td>
        [25] Rozpoczęcie konferencji, wykład prof. Bożejki
      </td>
    </tr>
    <tr>
      <td>
        16:30-17:00
      </td>
      <td>
        Obiad
      </td>
    </tr>
    <tr>
      <td>
        17:15-18:00
      </td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1Zue-qvnqXyHuMD7Vl_PCndqtQGhyiLFj/view?usp=drive_link" target="_blank">Zbalansowana nierówność Hardy'ego</a> - Antoni Szczukiewicz<br />
        <i>analiza</i>
      </td>
    </tr>
    <tr>
      <td>
        18:15-??:??
      </td>
      <td>
        [119] Integracja
      </td>
    </tr>

    <tr style="height: 50px;"><td style="text-align: center; vertical-align: bottom; font-size:19;" colspan="2"><b>Sobota 29 Marca</td></b></tr>
    <tr>
      <td>09:00-09:30</td>
      <td>Śniadanie</td>
    </tr>
    <tr>
      <td>10:00-10:45</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1btJEwZYQ85RO-Nbqyo2lfbwl1nq93vPm/view?usp=drive_link" target="_blank">Progi w grafach losowych</a> - Grzegorz Ryn<br />
        <i>kombinatoryka i teoria grafów, rachunek prawdopodobieństwa</i>
      </td>
    </tr>
    <tr>
      <td>11:00-11:25</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1uHXjs8FLCmbtadjcv-seVDczuPsmqKYy/view?usp=drive_link" target="_blank">Prosto o krzywych - krzywe Beziera</a> - Mikołaj Mijakowski<br />
        <i>analiza, geometria</i><br />
      </td>
    </tr>
    <tr>
      <td>11:25-12:15</td>
      <td>
        Przerwa kawowa
      </td>
    </tr>
    <tr>
      <td>12:15-14:00</td>
      <td>
        Warsztaty
      </td>
    </tr>
    <tr>
      <td>14:00-14:30</td>
      <td>Obiad</td>
    </tr>
    <tr>
      <td>14:30-15:00</td>
      <td>Przerwa kawowa</td>
    </tr>
    <tr>
      <td>15:00-16:00</td>
      <td>Warsztaty</td>
    </tr>
    <tr>
      <td>16:20-16:45</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1T8uQUEZs7pnNUcXoD6EukBAxlv7rw5SA/view?usp=drive_link" target="_blank">Tylko trochę grupy, czyli o Grupoidach</a> - Kacper Jodłowski<br />
        <i>algebra</i>
        <br />
        [119] <a href="https://drive.google.com/file/d/1fxHfWnP3wLs-D3mBGMVehOnF5hzlzw-o/view?usp=drive_link" target="_blank">Niezmiennik Dehna</a> - Michał Mądrala<br />
        <i>geometria</i>
      </td>
    </tr>
    <tr>
      <td>17:00-17:25</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1n6JTxcwPt-X6WkuaNGMHbKOi45QwxFGr/view?usp=drive_link" target="_blank">p-adyczny Fourier</a> - Łukasz Orski<br/>
        <i>analiza</i><br />
        <br />
        [119] <a href="https://drive.google.com/file/d/1Gve8q4tRLemixLtzzW8nm8aCrZW8xPGM/view?usp=drive_link" target="_blank">Centralne Twierdzenie Graniczne za pomocą Twierdzenia Banacha o Punkcie Stałym</a> - Piotr Held<br />
        <i>rachunek prawdopodobieństwa</i>
      </td>
    </tr>
    <tr>
      <td>17:40-18:25</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1CVHxsmkfOH7QmYIlAbThKcI8TEtN5fDZ/view?usp=drive_link" target="_blank">Z wielką mocą wiąże się wielka odpowiedzialność</a> - Antoni Brożyna <br/>
        <i>teoria mnogości</i><br />
        <br />
        [119] <a href="" target="_blank">Zastosowania wiązek wektorowych</a> - Bartosz Szachniewicz<br />
        <i>algebra, geometria, topologia</i>
      </td>
    </tr>
    <tr>
      <td>20:00-??:??</td>
      <td>
        Integracja w barze <a href="https://www.facebook.com/PrzekretPubStudencki/?locale=pl_PL" target="_blank">Przekręt</a><br>
        ul. Curie-Skłodowskiej 1, 50-381 Wrocław
      </td>
    </tr>


    <tr style="height: 50px;"><td style="text-align: center; vertical-align: bottom; font-size:19;" colspan="2"><b>Niedziela 30 Marca</td></span></b></tr>
    <tr>
      <td>09:00-09:30</td>
      <td>Śniadanie</td>
    </tr>
    <tr>
      <td>10:00-10:45</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1Yk3YXHmnV7Ai1ZDRESlg_unbjT0QOLku/view?usp=drive_link" target="_blank">Grupy homotopii $\pi_n$</a> - Jakub Rudzik<br />
        <i>geometria</i><br />
        <br />
        [119] <a href="https://drive.google.com/file/d/14EVKkAatEs468Z5D1QdtNTcKzQQqoi3R/view?usp=drive_link" target="_blank">Czy język jest jednoznaczny? O twierdzeniu Chomsky'ego-Schützenbergera</a> - Krzysztof Szymański <br/>
        <i>algebra, analiza, kombinatoryka i teoria grafów</i>
      </td>
    </tr>
    <tr>
      <td>11:00-11:25</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/10mUWzafbQm9idhMMvAJkwlBH3q4IQRdm/view?usp=drive_link" target="_blank">NL = coNL (i czemu to nie jest oczywiste)</a> - Magdalena Dudziak <br/>
        <i>kombinatoryka i teoria grafów</i><br />
        <br />
        [119] <a href="https://drive.google.com/file/d/10Czs5tA2dOxCVxLAW0FYfhSGtax4SMqE/view?usp=drive_link" target="_blank">Definicja Prawdy Alfreda Tarskiego: Od Logiki Formalnej do Teorii Modeli</a> - Julia Deoniziak<br />
        <i>logika i teoria mnogości</i>
      </td>
    </tr>
    <tr>
      <td>11:25-12:00</td>
      <td>
        Przerwa kawowa
      </td>
    </tr>
    <tr>
      <td>12:00-12:30</td>
      <td>
        Obiad
      </td>
    </tr>
    <tr>
      <td>12:30-13:00</td>
      <td>
        Sesja plakatowa
      </td>
    </tr>
    <tr>
      <td>13:45-14:10</td>
      <td>
        [25] <a href="https://drive.google.com/file/d/1Pb5Eanz5aiytG4XJYo11ZJIZcUjiQdne/view?usp=drive_link" target="_blank">Bazy o ciągłych rzutowaniach w przestrzeniach unormowanych</a> - Jakub Pawlak <br/>
        <i>analiza, topologia</i><br />
        <BR />
        [119] <a href="https://drive.google.com/file/d/1Dnu50xw4swQG9rKstD1s3nln2ELrtqQN/view?usp=drive_link" target="_blank">Pokrycie przestrzeni kulami</a> - Michał Biesek<br/>
        <i>analiza, geometria</i>
      </td>
    </tr>
    <tr>
      <td>14:30-16:00</td>
      <td>[25] Pożegnanie i wykład prof. Świątkowskiego o geometrycznej teorii grup</td>
    </tr>
  </table>

{% endblock %}
