{% extends "wss/base-wss.html" %}

{% block moreCSS %}
<style>
table {
  margin-top: 20px;
  margin-left: 10px;
}


td, th {
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  padding-right: 10px !important;
}

a {
  font-size: 16px !important;
}
</style>
{% endblock %}

{% block mainText %}

<div class="flexcolumn" style="width: 100%;">
  <div>Rejestracja uczestników zamyka się 23.03.2025</div>
  <button class="wss_button" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSeZl5GER_q5tCvlxGMZymzDbNorH79tNVQZ5PqBQ2OoJhN7uQ/viewform?usp=dialog', '_blank')">
    Rejestracja uczestników
  </button>
  <br />
  <div>Rejestracja referatów i plakatów zamyka się 21.03.2025</div>
  <button class="wss_button" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSeJG2WZDMP8XrFjeKrEHwQ94E_rEEhIn5_mJvIpURDzgxk6gw/viewform?usp=sharing', '_blank')">
    Rejestracja referatów i plakatów
  </button>
</div>

{% endblock %}
